:root {
    --spotify-green: #1DB954;
    --spotify-black: #191414;
    --spotify-white: #FFFFFF;
    --spotify-bg: #0b421e;
    --spotify-dark-gray: #121212;
    --spotify-green-light: rgba(27, 205, 89, 0.705); 

    --transition-duration: 200ms;
    --transition-function: ease;

    --border-radius-s: 5px;
    --border-radius-m: 10px;
    --border-radius-l: 15px;
}