/* Artist */
.artist {
  overflow: hidden;
  height: 100vh;
}

.artist__header {
    --_shade: hsl(0deg 0% 0% / 25%);
    display: flex;
    align-items: end;
    padding: 25px;
    height: 40svh;
    background-size: cover;
    background-position-y: 20%;
    }

.artist__title {
  font-size: 96px;
}

.artist__body {
  padding: 39px 25px;
  background-image: linear-gradient(
    to bottom,
    var(--spotify-black),
    var(--spotify-dark-gray)
  );
  display: flex;
  flex-direction: column;
  gap: 25px;
}

@media (max-width: 1280px) {
  .artist__title {
    font-size: 7.5vw;
    line-height: 100%;
  }
}

@media (max-width: 480px) {
  .artist__title {
    font-size: 36px;
  }

  .artist__header {
    padding: 16px;
  }

  .artist__body {
    padding: 25px 16px;
    gap: 16px;
  }
}
